body{
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100%;
}

.container1{
	width: 70%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;	
}

.main{
	height: 100%;
	width: 30%;
	background: #d6d6d6;
}

.message{
	position: absolute;
	height: 100%;
	width: 70%;
	top:0;
	right:0;
	text-align: center;
	display: inline;
	background:#f0f0f0;
	font-size: 50px;
}

.message div{
	position: absolute;
	top:50%;
	left: 6%;
	transform: translate(0,-50%);
}

.text {
	position: absolute;
	top:40%;
	width: 30%;
	text-align: center;
	line-height: 50px;

}

.menu{
	height: 50px;
	margin-bottom: 5px;
	background: #c2c2c2;
	font-size: 20px;
	color: black;

	
}

.link {
	text-decoration: none;
}